.questionHeader {
  text-align: center;
  font-family: "Condensed", sans-serif;
}
body {
  background-image: url(img/moviechar-gray.jpeg);
  background-size: cover;
  background-position: center bottom 65%;
}

.photo {
  justify-content: center;
  margin-left: 30%;
  border: 2px solid black;
  border-radius: 3px;
  height: 37%;
  width: 37%;
  border-radius: 20px;
}
.choiceBox {
  width: 40%;
  height: 30%;
  margin-left: 29%;
  padding-bottom: 2%;
  border: 5px black solid;
  border-radius: 18px;
  background-color: rgb(21, 22, 22);
}
.mainQuestion {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  padding-bottom: 3%;
  color: white;
}

.multipleChoice {
  display: block;
  font-size: medium;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 18px;
  box-shadow: black;
  width: 100%;
}
h2 {
  text-align: center;
}
.first2 {
  text-align: center;
}
#button1 {
  padding-left: 10%;
  padding: 4%;
}
#button2 {
  padding: 4%;
}
#button3 {
  padding: 4%;
}
#button4 {
  padding: 4%;
}

.last2 {
  text-align: center;
}
