.questionHeader {
  text-align: center;
  font-family: "Condensed", sans-serif;
  font-family: "Bebas Neue", cursive;
}

body {
  background-image: url(img/moviechar.jpeg);
  background-size: cover;
  background-position: center bottom 65%;
}

.photo {
  justify-content: center;
  margin-left: 31%;
  border: 2px solid black;
  border-radius: 3px;
  height: 37%;
  width: 37%;
  border-radius: 20px;
}
.choiceBox {
  width: 40%;
  height: 30%;
  margin-left: 29%;
  padding-bottom: 2%;
  border: 5px black solid;
  border-radius: 18px;
  background-color: rgb(21, 22, 22);
}
.mainQuestion {
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  padding-bottom: 3%;
  color: white;
}

.multipleChoice {
  display: block;
  font-size: medium;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 18px;
  box-shadow: black;
  width: 100%;
}
h2 {
  text-align: center;
}
.first2 {
  text-align: center;
}
#button1 {
  padding-left: 10%;
  padding: 4%;
}
#button2 {
  padding: 4%;
}
#button3 {
  padding: 4%;
}
#button4 {
  padding: 4%;
}

.last2 {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .multipleChoice:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 4px 1px cornflowerblue;
  }
}
@media screen and (max-width: 700px) {
  .multipleChoice {
    color: white;
  }
  .mainQuestion {
    font-size: medium;
  }
  body {
    background-size: auto;
    background-position: center top 1px;
    background-repeat: no-repeat;
  }
  .photo {
    height: 45%;
    width: 70%;
    margin-left: 15%;
  }
  .choiceBox {
    margin-left: 15%;
    width: 70%;
    height: 90%;
  }
}
