.questionHeader {
  text-align: center;
}
.photo {
  justify-content: center;
  margin-left: 35%;
  border: 2px solid black;
  border-radius: 3px;
  height: 30%;
  width: 30%;
}
.choiceBox {
  width: 40%;
  height: 40%;
  margin-left: 29%;
  padding-bottom: 10%;
  border: 5px black solid;
  background-color: lightblue;
}
.mainQuestion {
  text-align: center;
  padding-bottom: 5%;
}

.multipleChoice {
  font-size: medium;
}
.first2 {
  padding-left: 5%;
}
#button1 {
  padding: 4%;
}
#button2 {
  padding: 4%;
}
#button3 {
  padding: 4%;
}
#button4 {
  padding: 4%;
}

.last2 {
  padding-top: 5%;
  padding-left: 10%;
}
