.title {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
}
.titleContainer {
  margin-top: 25%;
}
body {
  background-image: url(img/moviechar.jpeg);
  background-size: cover;
}
#topHeader {
  margin-top: -10%;
  font-size: 15vh;
  border-bottom: 2px solid white;
}
.ready {
  text-align: center;
}
.readybutton {
  box-shadow: 2px 2px 2px 1px black;
  background-color: black;
  color: white;
  width: 20%;
  height: 30%;
  border: solid 2px white;
  border-radius: 2%;
  font-size: larger;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
}
